# Prerequisites
*.d
Performance.pyperf
# Compiled Object files
*.slo
*.lo
*.old
*.pdf
*.shanghai
*.o
*.so
*.obj
*.feature
*.zip
*.bmp
*.mtl
*.meshbin
*.recipe
*.jpg
*.pyc
*.featurebin
templateSphere
*.e57
*.pts.0
*.bin
*.mp4
ndkBuild/*
*/*/CMakeFiles/*
.kateproject
*.templateSphere
*/*/*.kateproject
*/*/*.cmake
.ninja_deps
.ninja_log
*.chengdu
*.changzhou
*.h264
*.mfs
*.cornerOut
*.segment
*.cache
*.tar.z
*.apk
*.7z
*.fb
*.pth
*.pt
*.onnx
mem.h
*.log.*
*.log20*
imgui.ini
templateSphereV3
build.ninja
build/*
build_g2_src/*
build_mgw/*
build_win/*
build_ndk/*
opencv480/*
jsoncpp-1.9.5/*
CMakeCache.txt
WildMulti/x64/*
x64/*
yohoTrain/dataset/*
out/*
.vs/*
Debug/*
*.pcd
*.ply
*.txt
!CMakeLists.txt
build_g2_src/CMakeLists.txt
!requirements.txt
*.json
*.off
*.bmp
*.png
*.xyz
*.pts
*.def
*.exp
*.exports
*.textgrid
*.yml
*.xml
*.
*.VC.db
*.opendb
*.log
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.ilk
*.ipdb
*.iobj
*.rar
*.suo


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#protoc
*.pb.h
*.pb.cc

build_g2_src/*